/** @format */

.container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.container > h1 {
  font-size: 2rem;
}

.btnMenu {
  position: absolute;
  right: 5%;
  top: 5rem;
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
}
